{% extends 'bases/base.html' %}
{% load static %}

{% block addcss %}
    <link rel="stylesheet" href="{% static 'users/css/login.css' %}">
{% endblock %}

{% block content %}
    <section class="area-login">
        <div class="login">
            <div class="login-header">
                <h1>Auto Motors</h1>
                <hr>
                <h2>Login</h2>
            </div>
            <form action="{% url 'login' %}" method="POST">
                {% csrf_token %}
                <input type="text" name="nome" placeholder="Digite seu nome" autofocus>
                <input type="password" name="password" placeholder="Digite sua senha">
                <input type="submit" value="Enviar">
            </form>
            <p>Ainda não tem conta? <a href="{% url 'cadastro' %}">Cria a sua!</a></p>
        </div>
    </section>
{% endblock %}