{% extends 'bases/base.html' %}
{% load static %}

{% block addcss %}
  <link rel="stylesheet" href="{% static 'main/css/home.css' %}">
{% endblock %}

{% block content %}
  <div class="container">
    {% include 'partials/header.html' %}
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Cliente</th>
          <th scope="col">Produto</th>
          <th scope="col">Quantidade</th>
          <th scope="col">Data Pedido</th>
          <th scope="col">Data Entrega</th>
          <th scope="col">Valor Total</th>
          <th scope="col">Editar Pedido</th>
          <th scope="col">Gerar PDF</th>
        </tr>
      </thead>
      <tbody>
        {% for pedido in pedidos %}
          <tr>
            <th scope="row">{{pedido.id}}</th>
            <td>{{pedido.cliente}}</td>
            <td>{% for produt in pedido.produtos.all %}{{produt}}{% endfor %}</td>
            <td>{{pedido.quantidade}}</td>
            <td>{{pedido.data_pedido}}</td>
            <td>{{pedido.data_entrega}}</td>
            <td>R${{pedido.valor_total}}</td>
            <td><a href="{% url 'editar_pedido' pedido.id %}" class="btn btn-warning">Editar</a></td>
            <td><a href="{% url 'gerar_pdf' pedido.id %}" class="btn btn-primary">Gerar PDF</a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock content %}